body {
    font-family: serif !important ;
}
i.fa.fa-bookmark {
    font-size: 70px;
}

#workshop, #specialties, #journal, #origins {
    background-color: rgb(228, 210, 186);
}

#text{
    color: grey;
    font-style: italic;
}

#dot {
    color: rgb(241, 192, 127);
    font-size:20px;
}

#third-line, #col-2{background-color:  rgb(248, 238, 224);}
#col-2 .h4 {color: grey;}
#col-2 p {font-style: italic;}